<div class="container-fluid modales">
    <div class="row">
        <div class="col-12 c-alto-20">
            <div class="row">

                <ul class="col-12 d-flex c-no-select">
                    <li class="col-4">
                        <div (click)="cambiarSeleccion(0, 'Productos')"
                            [ngClass]="{'c-selected-list-item': selected == 0}">
                            Productos</div>
                    </li>
                    <li class="col-4">
                        <div (click)="cambiarSeleccion(1, 'Categorías')"
                            [ngClass]="{'c-selected-list-item': selected == 1}">
                            Categorías</div>
                    </li>
                    <li class="col-4">
                        <div (click)="cambiarSeleccion(2, 'Empleados')"
                            [ngClass]="{'c-selected-list-item': selected == 2}">
                            Empleados</div>
                    </li>
                </ul>
                <div class="alert alert-primary alert-dismissible fade show text-center c-alert-posicion-centrada"
                    role="alert" id="alertJefe">
                    <h6>{{this.alertMsgInicio}}<strong> {{alertMsgNombre}} </strong>{{alertMsgFin}}
                    </h6>

                </div>
            </div>
        </div>
        <div [ngSwitch]="vistaJefe" class="col-12 c-alto-80">
            <div class="row">
                <div class="col-12">
                    <!-- VISTA PRODUCTOS -->
                    <div *ngSwitchCase="'Productos'">



                        <table class="table c-table-fixed c-no-select c-bg-white">
                            <thead>
                                <tr>
                                    <th class="col-3">Nombre</th>
                                    <th class="col-3">Categoría</th>
                                    <th class="col-2">Precio</th>
                                    <th class="col-2">Departamento</th>
                                    <th class="col-1">#</th>
                                    <th class="col-1">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of filterListaProductos(); trackBy:listaProductos.id_producto; index as index"
                                    (click)="selectedTable = index">
                                    <td class="col-3">{{p.nombre}}</td>
                                    <td class="col-3">{{p.id_categoria}}</td>
                                    <td class="col-2">{{p.precio | number:'1.2-2'}} €</td>
                                    <td class="col-2">
                                        <div
                                            *ngIf="p.barra && !p.cocina; then thenBlock else elseBlock">
                                        </div>
                                        <ng-template #thenBlock>Barra</ng-template>
                                        <ng-template #elseBlock>Cocina</ng-template>
                                    </td>
                                    <td class="col-1">
                                        <div class="c-cursor-pointer">
                                            <fa-icon [icon]="faEdit"
                                                (click)="openEditProductoModal(
                                                     p.nombre, p.id_categoria, p.precio, p.barra, p.cocina, p.id_producto)">
                                            </fa-icon>
                                        </div>
                                    </td>
                                    <td class="col-1">
                                        <div class="c-cursor-pointer">
                                            <fa-icon [icon]="faTrash" (click)="openDeleteProductoModal(
                                                 p.id_producto, p.nombre)">>
                                            </fa-icon>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row my-2">
                            <button class="btn btn-primary col-2 mx-2"
                                (click)="openCreateProductoModal()">Crear
                                Producto</button>
                            <button class="btn btn-secondary col-2 mx-2" data-toggle="modal"
                                data-target="#salirModal">Salir</button>
                            <select class="input col-2 mx-2" name="select"
                                [(ngModel)]="filterByDepartamentoProductoString">
                                <option value="barraAndCocina">Barra y Cocina</option>
                                <option value="barra">Barra</option>
                                <option value="cocina">Cocina</option>
                            </select>
                            <input class="input col-2 mx-2" type="text"
                                [(ngModel)]="filterByNombreProductoString"
                                placeholder="Filtrar por Nombre">
                            <input class="input col-2 mx-2" type="text"
                                [(ngModel)]="filterByCategoriaProductoString"
                                placeholder="Filtrar por Categoría">
                        </div>
                    </div>

                    <!-- VISTA CATEGORÍAS -->
                    <div *ngSwitchCase="'Categorías'">
                        <table class="table c-table-fixed c-no-select c-bg-white">
                            <thead>
                                <tr>
                                    <th class="col-3">Nombre</th>
                                    <th class="col-7">Cantidad de Productos</th>
                                    <th class="col-1">#</th>
                                    <th class="col-1">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let c of filterListaCategorias(); 
                                    trackBy:listaCategorias.id_categoria; index as index">
                                    <td class="col-3">{{c.nombre}}</td>
                                    <td class="col-7">{{c.productos.length}}</td>
                                    <td class="col-1">
                                        <div class="c-cursor-pointer">
                                            <fa-icon [icon]="faEdit"
                                                (click)="openEditCategoriaModal(c.id_categoria,c.nombre)">
                                            </fa-icon>
                                        </div>
                                    </td>
                                    <td class="col-1">

                                        <div class="c-cursor-pointer">
                                            <fa-icon [icon]="faTrash"
                                                (click)="openDeleteCategoriaModal(c.id_categoria,c.nombre)">
                                            </fa-icon>
                                        </div>


                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row my-2">
                            <button class="btn btn-primary col-2 mx-2"
                                (click)="openCreateCategoriaModal()">Crear
                                Categoría</button>
                            <button class="btn btn-secondary col-2 mx-2" data-toggle="modal"
                                data-target="#salirModal">Salir</button>
                            <input class="input col-2 mx-2" type="text"
                                [(ngModel)]="filterByNombreCategoriaString"
                                placeholder="Filtrar por Nombre">
                            <input class="input col-2 mx-2" type="number"
                                [(ngModel)]="filterByCantidadCategoriaNumber"
                                placeholder="Filtrar por Cantidad de Productos">
                        </div>

                    </div>

                    <!-- VISTA EMPLEADOS -->
                    <div *ngSwitchCase="'Empleados'">

                        <table class="table c-table-fixed c-no-select c-bg-white">
                            <thead>
                                <tr>
                                    <th class="col-2">Nombre</th>
                                    <th class="col-1">Rango</th>
                                    <th class="col-2">Email</th>

                                    <th class="col-5">Contraseña</th>

                                    <th class="col-1">#</th>
                                    <th class="col-1">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let u of filterListaEmpleados(); trackBy:listaUsuarios.id_usuario; index as index">
                                    <td class="col-2">{{u.nombre +" "+u.apellidos}}</td>
                                    <td class="col-1">
                                        <div [ngSwitch]="u.rango">
                                            <div *ngSwitchCase="0">Jefe</div>
                                            <div *ngSwitchCase="1">Camarero</div>
                                            <div *ngSwitchCase="2">Barman</div>
                                            <div *ngSwitchCase="3">Cocinero</div>
                                            <div *ngSwitchDefault>-</div>
                                        </div>
                                    </td>
                                    <td class="col-2">{{u.email}}</td>

                                    <td class="col-5">{{u.contrasenia}}</td>

                                    <td class="col-1">

                                        <div class="c-cursor-pointer">
                                            <fa-icon [icon]="faEdit"
                                                (click)="openEditUsuarioModal(
                                               u.id_usuario, u.nombre,u.apellidos, u.rango, u.email )">
                                            </fa-icon>
                                        </div>

                                    </td>
                                    <td class="col-1">

                                        <div class="c-cursor-pointer">
                                            <fa-icon [icon]="faTrash" (click)="openDeleteUsuarioModal(
                                            u.id_usuario,u.nombre, u.apellidos)">
                                            </fa-icon>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row my-2">
                            <button class="btn btn-primary col-2 mx-2"
                                (click)="openCreateUsuarioModal()">Crear
                                Empleado</button>
                            <button class="btn btn-secondary col-2 mx-2" data-toggle="modal"
                                data-target="#salirModal">Salir</button>
                            <select class="input col-2 mx-2" name="select"
                                [(ngModel)]="filterByRangoEmpleadoString">
                                <option value="todosEmpleados" selected>Todos los Empleados</option>
                                <option value="jefe">Jefe</option>
                                <option value="camarero">Camarero</option>
                                <option value="barman">Barman</option>
                                <option value="cocinero">Cocinero</option>
                            </select>

                            <input class="input col-2 mx-2" type="text"
                                [(ngModel)]="filterByNombreEmpleadoString"
                                placeholder="Filtrar por Nombre">
                            <input class="input col-2 mx-2" type="text"
                                [(ngModel)]="filterByApellidosEmpleadoString"
                                placeholder="Filtrar por Apellidos">
                        </div>

                    </div>


                    <div *ngSwitchDefault>Soy la vista de default
                        <button class="btn btn-danger" data-toggle="modal"
                            data-target="#salirModal">Volver
                            a Home</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<div id="salirModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title c-no-select">Volver al inicio</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-12"> <span class="c-no-select">¿Está seguro de querer volver al
                            inicio?</span></div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="redirectToHome()">Aceptar</button>
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="createProductoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title c-no-select">Crear Producto</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="offset-1 col-10">
                        <div class="row">
                            <form #createProductoForm="ngForm">

                                <label for="nombre" class="col-3">Nombre</label>
                                <input type="text" name="nombre" id="inputNombreProducto"
                                    #nombre="ngModel" [(ngModel)]="producto.nombre" required
                                    maxlength="25" class="input col-8">



                                <label for="precio" class="col-3">Precio</label>
                                <input type="number" name="precio" #precio="ngModel"
                                    [(ngModel)]="producto.precio" required class="input col-8">

                                <div *ngIf="precio.touched && !precio.valid"
                                    class="alert alert-danger">
                                    El precio es obligatorio</div>


                                <label class="col-3" for="categoria">Categoría
                                </label>

                                <select class="col-8" id="categoria" name="categoria"
                                    #categoria="ngModel" [(ngModel)]="producto.id_categoria">
                                    <option
                                        *ngFor="let c of listaCategorias; trackBy:listaCategorias.id_categoria"
                                        value="{{c.id_categoria}}"> {{c.nombre}}</option>
                                </select>

                                <div *ngIf="categoria.touched && producto.id_categoria==null"
                                    class="alert alert-danger">
                                    Debe elegir una categoría
                                </div>

                                <label class="col-12" for="barra">¿El producto es de barra o cocina?
                                </label>

                                <span class="offset-1 col-4 "> <input class="input" id="barra"
                                        type="radio" name="barraCocina"
                                        (click)="setBarraCocina(true, false)"><label
                                        for="barra"><strong>Barra</strong></label></span>


                                <input class="input" id="cocina" type="radio" name="barraCocina"
                                    (click)="setBarraCocina(false, true)"><label
                                    for="cocina"><strong>Cocina</strong></label>

                                <div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer mt-2">
                    <button type="button" (click)="addProducto(createProductoForm)"
                        [disabled]="createProductoForm.form.invalid 
                    || producto.id_categoria==null || producto.barra == null ||producto.cocina == null" class="btn btn-primary">Crear</button>
                    <button type="button" class="btn btn-secondary"
                        (click)="createProductoForm.reset()" data-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="editProductoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title c-no-select">Editar Producto</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="offset-1 col-10">
                        <div class="row">
                            <form #editProductoForm="ngForm">

                                <label for="nombre" class="col-3">Nombre</label>
                                <input type="text" name="nombre" id="inputNombreProductoEdit"
                                    [(ngModel)]="producto.nombre" required maxlength="25"
                                    class="input col-8">



                                <label for="precio" class="col-3">Precio</label>
                                <input type="number" name="precio" id="inputPrecioProductoEdit"
                                    #precioEdit="ngModel" [(ngModel)]="producto.precio" required
                                    class="input col-8">

                                <div *ngIf="precioEdit.touched && !precioEdit.valid"
                                    class="alert alert-danger">
                                    El precio es obligatorio</div>


                                <label class="col-3" for="categoria">Categoría
                                </label>

                                <select class="col-8" id="categoria" name="categoria"
                                    #categoriaEdit="ngModel" [(ngModel)]="producto.nombre_categoria"
                                    id="inputCategoriaProductoEdit"
                                    (change)="getIdCategoriaByNombreCategoria()">
                                    <option
                                        *ngFor="let c of listaCategorias; trackBy:listaCategorias.id_categoria"
                                        value="{{c.nombre}}">{{c.nombre}}</option>
                                </select>

                                <div *ngIf="categoriaEdit.touched && producto.id_categoria==null"
                                    class="alert alert-danger">
                                    Debe elegir una categoría
                                </div>

                                <label class="col-12" for="barra">¿El producto es de barra o cocina?
                                </label>

                                <span class="offset-1 col-4 "> <input class="input" id="barra"
                                        type="radio" name="barraCocina" id="inputBarraProductoEdit"
                                        (click)="setBarraCocina(true, false)"><label
                                        for="barra"><strong>Barra</strong></label></span>


                                <input class="input" id="cocina" type="radio" name="barraCocina"
                                    id="inputCocinaProductoEdit"
                                    (click)="setBarraCocina(false, true)"><label
                                    for="cocina"><strong>Cocina</strong></label>

                                <div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer mt-2">
                    <button type="button" (click)="editProducto(editProductoForm)"
                        [disabled]="producto.nombre==null || producto.id_categoria == null || producto.id_categoria==null || producto.barra == null ||producto.cocina == null"
                        class="btn btn-primary">Modificar</button>
                    <button type="button" class="btn btn-secondary"
                        (click)="editProductoForm.reset()" data-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="deleteProductoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title c-no-select">Papelera</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-12"> <span class="c-no-select">¿Desea borrar el producto
                            <strong>{{producto.nombre}}</strong>?</span></div>
                </div>
                <div class="modal-footer mt-2">
                    <button type="button" class="btn btn-primary"
                        (click)="deleteProducto()">Borrar</button>
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="createCategoriaModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title c-no-select">Crear Categoría</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="offset-1 col-10">
                        <form #createCategoriaForm="ngForm">
                            <div class="row">

                                <label for="nombre" class="col-3">Nombre</label>
                                <input type="text" name="nombre" id="inputNombreCategoria"
                                    #nombrea="ngModel" [(ngModel)]="cat.nombre" required
                                    maxlength="25" class="input col-8">

                                <div *ngIf="nombre.touched && !nombre.valid"
                                    class="alert alert-danger">
                                    El nombre es obligatorio</div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer mt-2">
                    <button type="button" (click)="addCategoria(createCategoriaForm)"
                        [disabled]="createCategoriaForm.form.invalid"
                        class="btn btn-primary">Crear</button>
                    <button type="button" class="btn btn-secondary"
                        (click)="createCategoriaForm.reset()" data-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="editCategoriaModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title c-no-select">Editar Categoría</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="offset-1 col-10">
                        <form #editCategoriaForm="ngForm">
                            <div class="row">

                                <label for="nombre" class="col-3">Nombre</label>
                                <input type="text" name="nombre" id="inputNombreCategoriaEdit"
                                    #nombre="ngModel" [(ngModel)]="cat.nombre" required
                                    maxlength="25" class="input col-8">

                                <div *ngIf="nombre.touched && !nombre.valid"
                                    class="alert alert-danger">
                                    El nombre es obligatorio</div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer mt-2">
                    <button type="button" (click)="editCategoria(editCategoriaForm)"
                        [disabled]="cat.nombre==null" class="btn btn-primary">Modificar</button>
                    <button type="button" class="btn btn-secondary"
                        (click)="editCategoriaForm.reset()" data-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="deleteCategoriaModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title c-no-select">Papelera</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-12"> <span class="c-no-select">¿Desea borrar la categoría
                            <strong>{{cat.nombre}}</strong>?</span></div>
                </div>
                <div class="modal-footer mt-2">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="deleteCategoria()">Borrar</button>
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="createUsuarioModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title c-no-select">Crear Empleado</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="offset-1 col-10">
                        <div class="row">
                            <form #createUsuarioForm="ngForm">

                                <label for="nombre" class="col-3">Nombre</label>
                                <input type="text" name="nombre" id="inputNombreUsuario"
                                    #nombre="ngModel" [(ngModel)]="usuario.nombre" required
                                    maxlength="25" class="input col-8">

                                <label for="apellidos" class="col-3">Apellidos</label>
                                <input type="text" name="apellidos" id="inputApellidosUsuario"
                                    #apellidos="ngModel" [(ngModel)]="usuario.apellidos" required
                                    maxlength="25" class="input col-8">

                                <div *ngIf="apellidos.touched && !apellidos.valid"
                                    class="alert alert-danger">
                                    Los apellidos son obligatorios</div>


                                <label class="col-5" for="rango">Departamento
                                </label>
                                <select class="col-6" id="inputRangoUsuario" name="rango"
                                    #rango="ngModel" [(ngModel)]="usuario.rango">
                                    <option value="0">Jefe</option>
                                    <option value="1">Camarero</option>
                                    <option value="2">Barman</option>
                                    <option value="3">Cocinero</option>
                                </select>
                                <div *ngIf="rango.touched && usuario.rango==null"
                                    class="alert alert-danger">
                                    Debe elegir un departamento
                                </div>

                                <label for="email" class="col-3">Email</label>
                                <input type="email" name="email" id="inputEmailUsuario"
                                    #email="ngModel" [(ngModel)]="usuario.email" required
                                    class="input col-8"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">

                                <div *ngIf="email.touched && !email.valid"
                                    class="alert alert-danger">
                                    El email no es valido</div>


                                <label class="col-5" for="rango">Contraseña</label>
                                <input class="input col-4 w-100" type="password" name="contrasenia"
                                    id="inputContraseniaUsuario" #contrasenia="ngModel"
                                    [(ngModel)]="usuario.contrasenia" minlength="6" maxlength="6"
                                    title="La contraseña debe de tener 6 números" pattern="[0-9]{6}"
                                    class="c-input-passw">
                                Ver
                                <input class="input" type="checkbox"
                                    (click)="togglePasswordVisibility('#inputContraseniaUsuario')">

                                <div *ngIf="" class="alert alert-danger">
                                    La debe de contener 6 números</div>
                                <div></div>
                                <label class="col-5" for="rango">Repite Contraseña</label>
                                <input class="input col-4 w-100" type="password" name="contrasenia"
                                    id="inputRepiteContraseniaUsuario" #repiteContrasenia="ngModel"
                                    [(ngModel)]="usuario.repiteContrasenia" minlength="6"
                                    maxlength="6" title="La contraseña debe de tener 6 números"
                                    pattern="[0-9]{6}" class="c-input-passw">
                                Ver
                                <input class="input" type="checkbox"
                                    (click)="togglePasswordVisibility('#inputRepiteContraseniaUsuario')">

                                <div *ngIf="(repiteContrasenia.touched && !repiteContrasenia.valid) ||
                                                                (contrasenia.touched && !contrasenia.valid)"
                                    class="alert alert-danger">
                                    La contraseña debe de contener 6 números</div>
                                <div *ngIf="(this.usuario.contrasenia != this.usuario.repiteContrasenia && repiteContrasenia.touched && contrasenia.touched)"
                                    class="alert alert-danger">Las contraseñas deben de ser iguales
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer mt-2">
                    <button type="button" (click)="addUsuario(createUsuarioForm)" [disabled]="createUsuarioForm.form.invalid 
                    || usuario.nombre==null || usuario.apellidos ==null || usuario.rango == null 
                    || usuario.email == null || usuario.contrasenia == null || usuario.repiteContrasenia == null 
                    || usuario.contrasenia != usuario.repiteContrasenia "
                        class="btn btn-primary">Crear</button>
                    <button type="button" class="btn btn-secondary"
                        (click)="createUsuarioForm.reset()" data-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="editUsuarioModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title c-no-select">Editar Empleado</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="offset-1 col-10">
                        <div class="row">
                            <form #editUsuarioForm="ngForm">
                                <label for="nombre" class="col-3">Nombre</label>
                                <input type="text" name="nombre" id="inputNombreUsuarioEdit"
                                    [(ngModel)]="usuario.nombre" required maxlength="25"
                                    class="input col-8">


                                <label for="apellidos" class="col-3">Apellidos</label>
                                <input type="text" name="apellidos" id="inputApellidosUsuarioEdit"
                                    #apellidosEdit="ngModel" [(ngModel)]="usuario.apellidos"
                                    required maxlength="25" class="input col-8">

                                <div *ngIf="apellidosEdit.touched && !apellidosEdit.valid"
                                    class="alert alert-danger">
                                    Los apellidos son obligatorios</div>


                                <label class="col-5" for="rango">Departamento
                                </label>
                                <select class="col-6" id="inputRangoUsuarioEdit" name="rango"
                                    #rangoEdit="ngModel" [(ngModel)]="usuario.rango">
                                    <option value="0">Jefe</option>
                                    <option value="1">Camarero</option>
                                    <option value="2">Barman</option>
                                    <option value="3">Cocinero</option>
                                </select>
                                <div *ngIf="rangoEdit.touched && usuario.rango==null"
                                    class="alert alert-danger">
                                    Debe elegir un departamento
                                </div>

                                <label for="email" class="col-3">Email</label>
                                <input type="email" name="email" id="inputEmailUsuarioEdit"
                                    #emailEdit="ngModel" [(ngModel)]="usuario.email" required
                                    class="input col-8"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">

                                <div *ngIf="emailEdit.touched && !emailEdit.valid"
                                    class="alert alert-danger">
                                    El email no es valido</div>



                                <div *ngIf="usuario.cambiarContrasenia">

                                    <label class="col-5" for="rango">Contraseña</label>
                                    <input class="input col-4 w-100" type="password"
                                        name="contrasenia" id="inputContraseniaUsuarioEdit"
                                        #contraseniaEdit="ngModel" [(ngModel)]="usuario.contrasenia"
                                        minlength="6" maxlength="6"
                                        title="La contraseña debe de tener 6 números"
                                        pattern="[0-9]{6}" class="c-input-passw">
                                    Ver
                                    <input class="input" type="checkbox"
                                        (click)="togglePasswordVisibility('#inputContraseniaUsuarioEdit')">

                                    <div *ngIf="" class="alert alert-danger">
                                        La debe de contener 6 números</div>
                                    <div></div>
                                    <label class="col-5" for="rango">Repite Contraseña</label>
                                    <input class="input col-4 w-100" type="password"
                                        name="contrasenia" id="inputRepiteContraseniaUsuarioEdit"
                                        #repiteContraseniaEdit="ngModel"
                                        [(ngModel)]="usuario.repiteContrasenia" minlength="6"
                                        maxlength="6" title="La contraseña debe de tener 6 números"
                                        pattern="[0-9]{6}" class="c-input-passw">
                                    Ver
                                    <input class="input" type="checkbox"
                                        (click)="togglePasswordVisibility('#inputRepiteContraseniaUsuarioEdit')">

                                    <div *ngIf="(repiteContraseniaEdit.touched && !repiteContraseniaEdit.valid) ||
                                (contraseniaEdit.touched && !contraseniaEdit.valid)"
                                        class="alert alert-danger">
                                        La contraseña debe de contener 6 números</div>
                                    <div *ngIf="(this.usuario.contrasenia != this.usuario.repiteContrasenia && repiteContraseniaEdit.touched && contraseniaEdit.touched)"
                                        class="alert alert-danger">Las contraseñas deben de ser
                                        iguales
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer mt-2">
                    <button *ngIf="!usuario.cambiarContrasenia" class="btn btn-dark"
                        (click)="usuario.cambiarContrasenia=true">Cambiar
                        Contraseña</button>
                    <button *ngIf="usuario.cambiarContrasenia" class="btn btn-dark"
                        (click)="usuario.cambiarContrasenia=false">No Cambiar</button>

                    <button type="button" (click)="editUsuario(editUsuarioForm)"
                        [disabled]="isValidEditUsuario(editUsuarioForm)"
                        class="btn btn-primary">Modificar</button>
                    <button type="button" class="btn btn-secondary"
                        (click)="editUsuarioForm.reset()" data-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="deleteUsuarioModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title c-no-select">Papelera</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-12"> <span class="c-no-select">¿Desea borrar el empleado
                            <strong>{{usuario.nombre | titlecase}}
                                {{usuario.apellidos | titlecase}}</strong>?</span></div>
                </div>
                <div class="modal-footer mt-2">
                    <button type="button" class="btn btn-primary" (click)="deleteUsuario()">Borrar
                        Empleado</button>
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>